In [1]:
import pandas as pd

# Read Qualitative Data

In [2]:
df = pd.read_csv('cleaned_data/airbnb.csv')
df.head()

,neighborhood_id,neighborhood,num_listings,price_norm,accessible,airport,amazing,american,anywhere,architecture,...,vintage,visit,walking,waterfront,well,wine,wonderful,world,young,zoo
0,1.0,Allerton,77,31.006370,0.035714,0.017857,0.017857,0.000000,0.017857,0.000000,...,0.000000,0.017857,0.250000,0.000000,0.232143,0.000000,0.000000,0.035714,0.000000,0.428571
1,2.0,Arden Heights,5,28.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3.0,Astoria,919,59.324403,0.008475,0.042373,0.110169,0.037288,0.008475,0.003390,...,0.000000,0.028814,0.177966,0.013559,0.147458,0.018644,0.057627,0.100000,0.076271,0.003390
3,4.0,Bath Beach,27,40.018519,0.052632,0.052632,0.052632,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.105263,0.000000,0.000000,0.000000,0.000000,0.052632,0.000000,0.000000
4,5.0,Financial District,832,84.430094,0.003311,0.029801,0.024834,0.048013,0.006623,0.019868,...,0.028146,0.019868,0.087748,0.026490,0.092715,0.009934,0.008278,0.240066,0.004967,0.000000

In [3]:
df.shape

(145, 218)

# Read Quantitative Data

In [4]:
df2 = pd.read_csv('cleaned_data/quant_features.csv')
df2.head()

,Unique Identifier,AdultCareFacilities,Clinics,CommunityHealthCenters,DiagnosticTreatmentCenters,Hospitals,NursingHomes,SchoolBasedHealthFacilities,Daycares,TotalPop,...,DrugHospPopPercent,PsychHospPopPercent,StrokeHospPopPercent,HIVPopPercent,HepBPopPercent,HepCPopPercent,TBPopPercent,GonorrheaPopPercent,SyphilisPopPercent,PrematureMortalityPopPercent
0,1,2,1,0,4,0,7,0,95,69435,...,1.063443,0.676279,0.349523,0.028723,0.06609,0.106615,0.005771,0.184327,0.034544,0.181910
1,2,0,0,0,0,0,0,0,8,25602,...,0.519000,0.522500,0.287600,0.000000,0.01240,0.042500,0.003900,0.000000,0.000000,0.140000
2,3,0,3,0,4,1,1,1,86,106244,...,0.402325,0.462069,0.282341,0.041906,0.04860,0.071517,0.008766,0.185412,0.054593,0.134602
3,4,0,1,0,1,0,1,0,23,32002,...,0.296500,0.314500,0.261000,0.000000,0.19090,0.087900,0.014600,0.021900,0.000000,0.126400
4,5,0,0,0,2,1,0,0,39,42485,...,0.381600,0.330400,0.272800,0.028700,0.05840,0.062700,0.003900,0.162400,0.044700,0.079200

In [5]:
df2.shape

(146, 55)

# Merge Datasets on Unique Identifier

In [6]:
merged = pd.merge(df,df2,left_on='neighborhood_id', right_on = 'Unique Identifier')
merged.head()

,neighborhood_id,neighborhood,num_listings,price_norm,accessible,airport,amazing,american,anywhere,architecture,...,DrugHospPopPercent,PsychHospPopPercent,StrokeHospPopPercent,HIVPopPercent,HepBPopPercent,HepCPopPercent,TBPopPercent,GonorrheaPopPercent,SyphilisPopPercent,PrematureMortalityPopPercent
0,1.0,Allerton,77,31.006370,0.035714,0.017857,0.017857,0.000000,0.017857,0.000000,...,1.063443,0.676279,0.349523,0.028723,0.06609,0.106615,0.005771,0.184327,0.034544,0.181910
1,2.0,Arden Heights,5,28.170000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.519000,0.522500,0.287600,0.000000,0.01240,0.042500,0.003900,0.000000,0.000000,0.140000
2,3.0,Astoria,919,59.324403,0.008475,0.042373,0.110169,0.037288,0.008475,0.003390,...,0.402325,0.462069,0.282341,0.041906,0.04860,0.071517,0.008766,0.185412,0.054593,0.134602
3,4.0,Bath Beach,27,40.018519,0.052632,0.052632,0.052632,0.000000,0.000000,0.000000,...,0.296500,0.314500,0.261000,0.000000,0.19090,0.087900,0.014600,0.021900,0.000000,0.126400
4,5.0,Financial District,832,84.430094,0.003311,0.029801,0.024834,0.048013,0.006623,0.019868,...,0.381600,0.330400,0.272800,0.028700,0.05840,0.062700,0.003900,0.162400,0.044700,0.079200

In [7]:
merged.shape

(144, 273)

# Drop Duplicate Column and Find Break Between Qual/Quant Features

print(merged.columns.tolist())

In [19]:
merged.drop('Unique Identifier',axis=1,inplace=True)
merged.shape

(144, 272)

In [22]:
merged.columns[217]

'zoo'

In [23]:
merged.columns[218]

'AdultCareFacilities'

- merged[5:218] are qualitative features
- merged[3:5], merged[218:] are quantitative features

# Write Output File

In [18]:
merged.to_csv('cleaned_data/merged.csv',index=False)