In [1]:
import pandas as pd

In [12]:
df = pd.read_csv('cleaned_data/airbnb.csv')
df.head()

,neighborhood_id,neighborhood,num_listings,price_norm,airport,art,artists,bars,beautiful,beer,...,schools,seafood,shopping,shops,stadium,stores,train,views,walkability,zoo
0,1,Allerton,77,31.006370,0.017857,0.000000,0.000000,0.000000,0.053571,0.000000,...,0.000000,0.000000,0.160714,0.160714,0.089286,0.125000,0.142857,0.000000,0.000000,0.428571
1,2,Arden Heights,5,28.170000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,...,0.000000,0.000000,0.400000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,Astoria,919,59.324403,0.042373,0.020339,0.011864,0.488136,0.057627,0.083051,...,0.001695,0.015254,0.106780,0.206780,0.000000,0.203390,0.133898,0.038983,0.000000,0.003390
3,4,Bath Beach,27,40.018519,0.052632,0.000000,0.000000,0.052632,0.052632,0.000000,...,0.000000,0.000000,0.052632,0.157895,0.000000,0.000000,0.052632,0.000000,0.000000,0.000000
4,5,Financial District,832,84.430094,0.029801,0.001656,0.000000,0.096026,0.033113,0.003311,...,0.000000,0.000000,0.102649,0.048013,0.000000,0.021523,0.018212,0.077815,0.490066,0.000000

In [5]:
df2 = pd.read_csv('cleaned_data/quant_features.csv')
df2.head()

,Unique Identifier,AdultCareFacilities,Clinics,CommunityHealthCenters,DiagnosticTreatmentCenters,Hospitals,NursingHomes,SchoolBasedHealthFacilities,Daycares,TotalPop,...,DrugHospPopPercent,PsychHospPopPercent,StrokeHospPopPercent,HIVPopPercent,HepBPopPercent,HepCPopPercent,TBPopPercent,GonorrheaPopPercent,SyphilisPopPercent,PrematureMortalityPopPercent
0,1,2,1,0,4,0,7,0,95,69435,...,1.063443,0.676279,0.349523,0.028723,0.06609,0.106615,0.005771,0.184327,0.034544,0.181910
1,2,0,0,0,0,0,0,0,8,25602,...,0.519000,0.522500,0.287600,0.000000,0.01240,0.042500,0.003900,0.000000,0.000000,0.140000
2,3,0,3,0,4,1,1,1,86,106244,...,0.402325,0.462069,0.282341,0.041906,0.04860,0.071517,0.008766,0.185412,0.054593,0.134602
3,4,0,1,0,1,0,1,0,23,32002,...,0.296500,0.314500,0.261000,0.000000,0.19090,0.087900,0.014600,0.021900,0.000000,0.126400
4,5,0,0,0,2,1,0,0,39,42485,...,0.381600,0.330400,0.272800,0.028700,0.05840,0.062700,0.003900,0.162400,0.044700,0.079200

In [17]:
merged = pd.merge(df,df2,left_on='neighborhood_id', right_on = 'Unique Identifier')
merged.head()

,neighborhood_id,neighborhood,num_listings,price_norm,airport,art,artists,bars,beautiful,beer,...,DrugHospPopPercent,PsychHospPopPercent,StrokeHospPopPercent,HIVPopPercent,HepBPopPercent,HepCPopPercent,TBPopPercent,GonorrheaPopPercent,SyphilisPopPercent,PrematureMortalityPopPercent
0,1,Allerton,77,31.006370,0.017857,0.000000,0.000000,0.000000,0.053571,0.000000,...,1.063443,0.676279,0.349523,0.028723,0.06609,0.106615,0.005771,0.184327,0.034544,0.181910
1,2,Arden Heights,5,28.170000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,...,0.519000,0.522500,0.287600,0.000000,0.01240,0.042500,0.003900,0.000000,0.000000,0.140000
2,3,Astoria,919,59.324403,0.042373,0.020339,0.011864,0.488136,0.057627,0.083051,...,0.402325,0.462069,0.282341,0.041906,0.04860,0.071517,0.008766,0.185412,0.054593,0.134602
3,4,Bath Beach,27,40.018519,0.052632,0.000000,0.000000,0.052632,0.052632,0.000000,...,0.296500,0.314500,0.261000,0.000000,0.19090,0.087900,0.014600,0.021900,0.000000,0.126400
4,5,Financial District,832,84.430094,0.029801,0.001656,0.000000,0.096026,0.033113,0.003311,...,0.381600,0.330400,0.272800,0.028700,0.05840,0.062700,0.003900,0.162400,0.044700,0.079200

In [18]:
merged.shape

(144, 107)